@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  background-color: aliceblue;
  margin: 0;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
  position: absolute;
}
p{
  margin: 0px!important;
  color:black
}